<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><button class="clearbutton" routerLink="home">MEDME</button></a>
    <form class="form-inline">
      <a class="navbar-brand" style="font-size: 12px"><button class="clearbutton" onclick="window.location.href = 'http://localhost:4200/#target';">HOW IT WORKS</button></a>
      <button class="button" style="font-size: 12px" routerLink="classify">FIND DIAGNOSIS </button>
    </form>
</nav>
<router-outlet></router-outlet>
