<!DOCTYPE html>
<html>
<body>
<div style="text-align:center">
  <h1>
    <img src="assets/top.ico" id="topbg">
    {{ app_name }}<br>
  </h1>
  <br>
  <h2>
    {{external_text}}<br>
  </h2>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="file" name="ext_symptom" accept="image/*"><br><br>
</p>

<h2>
  {{internal_text}}<br>
</h2>
  <input [(ngModel)]="searchText">
  <ul *ngIf="searchText">
    <li *ngFor="let symptom of possibleSymptoms | filter : searchText">
      <button (click)="add(symptom)">{{symptom}}</button>
    </li>
  </ul>
<br><br>
<button (click)="submit()">Diagnose</button>

</div>
</body>
</html>
