<!DOCTYPE html>
<html>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand"><button class="clearbutton" onclick="window.location.href = 'http://localhost:4200/';">SKIN-E</button></a>
        <form class="form-inline">
          <a class="navbar-brand" style="font-size: 12px"><button class="clearbutton" onclick="window.location.href = 'http://localhost:4200/#target';">HOW IT WORKS</button></a>
          <button class="button" style="font-size: 12px" onclick="window.location.href = 'http://localhost:4200/classify';">FIND DIAGNOSIS </button>
        </form>
      </nav>
<div style="text-align:center">
  <h1>
    <!-- <img src="assets/top.ico" id="topbg"> -->
    {{ app_name }}<br>
  </h1>
  <br>
  <h2>
    {{external_text}}<br>
  </h2>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="file" name="ext_symptom" (change)="handleFileInput($event.target.files)"><br><br>
  <button (click)="submitImg()" [disabled]="fileToUpload==null">Submit Image</button>
  </p>
  <h1 *ngIf="result">{{result}}</h1>

<h2>
  {{internal_text}}<br>
</h2>
  <input [(ngModel)]="searchText">
  <ul *ngIf="searchText">
    <li *ngFor="let symptom of possibleSymptoms | filter : searchText">
      <button (click)="add(symptom)">{{symptom}}</button>
    </li>
  </ul>
<br><br>
<button (click)="submitInt()">Submit Symptoms</button>
</div>
</body>
</html>
